body{
    width: 95%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 200px;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    margin-top: 10px;
    background-size: cover;
}

header p.titel{
    text-align: center;
    color: darkblue;
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}

header p{
    text-align: center;
    color: darkblue;
    font-size: 240%;
    font-weight: bold;
}

.vliegtuig{
    position: absolute;
    right: 490px;
    bottom: 500px;
}

.news {
    width: 25%;
    background-color: #dddddd;
    border: 1px solid #999999;
    float: right;
}

.news p{
    color: #666666;
    font-size: 90%;
    margin-left: 10px;
    margin-right: 10px;
}

.news h3{
    color: white;
    background-color: blue;
    font-size: 120%;
    text-align: center;

}

main{
    width: 75%;
}

.introduction{
    text-align: justify;
    padding: 0px 30px 20px 140px;

}

span{
    color: blue;
    font-style: italic;
}

.gallery{
    background-color: #999999;
    padding: 20px 0px 20px 20px;
}

.foto{
    height: 180px;
    width: 180px;
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 1px dotted #999999;
}
.logo{
    float: left;
    padding: 20px 20px 0px 20px;
}

footer{
    background-color: #666666;
    color: white;
    line-height: 2em;
}

footer section article{
    display: inline-block;
    margin-left: 120px;
}

footer section article a:hover{
    color:red;
}

.copyright{
    text-align: center;
    color: black;
    background-color: white;
}
