table {
    width: 30px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: center;
    padding: 5px;
    border: dotted 1px black;
}

th.Maand{
    background-color: rgb(170, 170, 200);
}

th.NamenDagen {
    background-color: rgb(35, 37, 70);
    color: rgb(200, 190, 240);
}

tr>td.Grijs{
    background-color: lightgrey;
    color: grey;
}

td:last-child {
    background-color: rgb(35, 37, 70);
}

td:nth-child(6n+1),
td:nth-child(6n+1) {
    background-color: rgb(255, 220, 220);
}

.VrijeDagen{
    background-color: rgb(250, 120, 120);
}